@{
    ViewBag.Title = "Tramos por Segmento";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />
    <link rel="shortcut icon" href="" />
    <meta name="description" content="Comex II - Tramos por Segmento" />
    <meta name="author" content="Sermaluc S.A." />


    @Styles.Render("~/Content/css")

    <style type="text/css">
        .modal {
            display: none;
            position: fixed;
            z-index: 1000; 
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #ACB4B9 url('/pu46/pux/ComexIIConsultas/Content/jqueryui1114/images/page-loader.gif') 50% 50% no-repeat;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        }

        body.loading .modal {
            overflow: hidden;
        }

        body.loading .modal {
            display: block;
        }

        .table2 {
            border: 1px solid #ACB4B9;
            background-color: #FFFFFF;
            font-family: Verdana;
            font-size: 9px;
        }

        .table3 {
            border: 0px;
            background-color: #FFFFFF;
            font-family: Verdana;
            font-size: 9px;
        }

        .TDBorder {
            border-color: #ACB4B9;
            border-style: solid;
            border-width: 1px;
        }
    </style>
</head>

<body onload="cargaTramosSegmento();">
    <center>
        <div id="wait" class="modal"></div>

        <div id="dialog-message" title="Tramos por Segmento" style="display: none">
            <br />
            <strong>
                <label class="labelBE" id="lblMsg" style="text-align: center"></label>
            </strong>
        </div>

        <div id="dialog-error" title="Error" style="display: none">
            <br />
            <strong>
                <label class="labelBE2" id="lblError" style="text-align: center;">
                </label>
            </strong>
            <br />
            <div id="myDIV" style="display: none">
                <code id="error1"></code>
                <br />
                <code id="error2"></code>
                <br />
                <code id="error3"></code>
            </div>
        </div>

        <div id="divFiltrosODP">
            <table style="width: 100%">
                <tr>
                    <td>
                        <div class="Titulo1BE">
                            Tramos por Segmento
                        </div>
                    </td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 5px">
                <tr>
                    <td colspan="3">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <img src="~/Content/Images/flecha.jpg" style="width:12px;height:12px" />&nbsp;<b><label class="labelBE">Segmento :</label></b>
                    </td>
                    <td width="30%">
                        <div class="custom-select" style="width: 90%; float: left">
                            <select id="cboSegmento" onchange="cargaTramosSegmento()">
                                <option value="1" selected="selected">Microempresas</option>
                                <option value="2">Pequeña Empresa</option>
                                <option value="3">Medianas Empresas</option>
                                <option value="4">Grandes Empresas</option>
                                <option value="5">Inmobiliaria</option>
                                <option value="6">Institucional</option>
                                <option value="7">Corporativa</option>
                            </select>
                        </div>
                    </td>
                    <td width="60%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="20%">
                        <img src="~/Content/Images/flecha.jpg" style="width:12px;height:12px" />&nbsp;<b><label class="labelBE">Tipo Moneda :</label></b>
                    </td>
                    <td width="30%">
                        <div class="custom-select" style="width: 90%; float: left">
                            <select id="cboTipoMoneda" onchange="cargaTramosSegmento()">
                                <option value="1" selected="selected">Dolar (USD)</option>
                                <option value="2">Euro (EUR)</option>
                                <option value="3">Peso (CLP)</option>
                            </select>
                        </div>
                    </td>
                    <td width="60%">&nbsp;</td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 5px">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/flecha.jpg" style="width:12px;height:12px" />&nbsp;<b><label class="labelBE">Tramos Vigentes :</label></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id="tblTramos" style="width: 50%; border: 1px solid; border-color: darkgray">
                        </table>
                    </td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 5px">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/flecha.jpg" style="width:12px;height:12px" />&nbsp;<b><label class="labelBE">Tramos Nuevos :</label></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id="tblTramosNuevos" style="width: 50%; border: 1px solid; border-color: darkgray">
                        </table>
                    </td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 5px">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <button id="btnAgregar" class="botonBE" onclick="agregarTramo()">Agregar</button>
                        <button id="btnEditar" disabled class="botonBE" onclick="editarTramo()">Editar</button>
                        <button id="btnActualizar" disabled class="botonBE" onclick="actualizarTramo()">Actualizar</button>
                        <button id="btnEliminar" class="botonBE" onclick="eliminarTramo()">Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

    </center>

</body>
</html>
