@{
    ViewBag.Title = "Bandeja de Autorizaciones";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />
    <link rel="shortcut icon" href="" />
    <meta name="description" content="Comex II - Bandeja de Autorizaciones" />
    <meta name="author" content="Sermaluc S.A." />


    @Styles.Render("~/Content/css")

    <style type="text/css">
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #ACB4B9 url('/pu46/pux/ComexIIConsultas/Content/jqueryui1114/images/page-loader.gif') 50% 50% no-repeat;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        }

        body.loading .modal {
            overflow: hidden;
        }

        body.loading .modal {
            display: block;
        }

        .table2 {
            border: 1px solid #ACB4B9;
            background-color: #FFFFFF;
            font-family: Verdana;
            font-size: 9px;
        }

        .table3 {
            border: 0px;
            background-color: #FFFFFF;
            font-family: Verdana;
            font-size: 9px;
        }

        .TDBorder {
            border-color: #ACB4B9;
            border-style: solid;
            border-width: 1px;
        }
        
    </style>
</head>

<body>
    <center>
        <div id="wait" class="modal"></div>

        <div id="dialog-message" title="Bandeja de Autorizaciones" style="display: none">
            <br />
            <strong>
                <label class="labelBE" id="lblMsg" style="text-align: center"></label>
            </strong>
        </div>

        <div id="dialog-error" title="Error" style="display: none">
            <br />
            <strong>
                <label class="labelBE2" id="lblError" style="text-align: center;">
                </label>
            </strong>
            <br />
            <div id="myDIV" style="display: none">
                <code id="error1"></code>
                <br />
                <code id="error2"></code>
                <br />
                <code id="error3"></code>
            </div>
        </div>

        <div id="divFiltrosODP">
            <table style="width: 100%">
                <tr>
                    <td>
                        <div class="Titulo1BE">Bandeja de Autorizaciones</div>
                    </td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 5px; border-bottom: 0px">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <img src="~/Content/Images/flecha.jpg" style="width:12px;height:12px" />&nbsp;<b><label class="labelBE">Búsqueda</label></b>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <b><label class="labelBE">Gerente :</label></b>
                    </td>
                    <td>
                        @*<div class="custom-select" style="width: 90%; float: left">
            <select id="cboGerente">
                <option value="1" selected="selected">Seleccione</option>
                <option value="2">Gerente Ejemplo Prueba</option>
            </select>
        </div>*@
                        <b><label class="labelBE">Alexis Herrera</label></b>
                    </td>
                    <td align="right">
                        <b><label class="labelBE">Jefe Grupo :</label></b>
                    </td>
                    <td>
                        <div class="custom-select" style="width: 90%; float: left">
                            <select id="cboJefe">
                                <option value="1" selected="selected">Seleccione</option>
                                <option value="2">Jefe Ejemplo Prueba</option>
                                <option value="3">Todos</option>
                            </select>
                        </div>
                    </td>
                    <td align="right">
                        <b><label class="labelBE">Ejecutivos :</label></b>
                    </td>
                    <td>
                        <div class="custom-select" style="width: 90%; float: left">
                            <select id="cboEjecutivo">
                                <option value="1" selected="selected">Seleccione</option>
                                <option value="2">Ejecutivo Ejemplo Prueba</option>
                                <option value="3">Todos</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;<b><label class="labelBE">Estado :</label></b>
                    </td>
                    <td>
                        <div class="custom-select" style="width: 80%; float: left">
                            <select id="cboEstadoBdj">
                                <option value="1" selected="selected">Pendiente de Firma</option>
                                <option value="2">Rechazado</option>
                                <option value="3">Autorizado</option>
                                <option value="4">Todos</option>
                            </select>
                        </div>
                    </td>
                    <td align="right">
                        &nbsp;<b><label class="labelBE">Fecha Ingreso :</label></b>
                    </td>
                    <td>
                        <input id="txtFechaBdj" type="text" size="15" placeholder="dd/mm/yyyy" />
                    </td>
                    <td colspan="2"></td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 5px">
                <tr>
                    <td align="right">
                        <button id="btnConsultar" class="botonBE" onclick="resulTbBandeja()">
                            Consultar
                        </button>
                    </td>
                </tr>
            </table>

            <table id="tblBandeja" style="width: 100%; border-top: 5px; display: none;">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/Images/flecha.jpg" style="width:12px;height:12px" />&nbsp;<b><label class="labelBE">Solicitudes de Autorización</label></b>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table id="tblResulBandeja" style="width: 100%; border: 1px solid; border-color: darkgray">
                            <tr style="border: 1px solid; border-color: darkgray">
                                @*<td style="text-align: center; border: 1px solid; border-color: darkgray; background-color: lightgray; width: 8%;">
                                    <label class="labelBE2">Ejecutivo</label>
                                </td>*@
                                <td style="text-align: center; border: 1px solid; border-color: darkgray; background-color: lightgray; width: 15%;">
                                    <label class="labelBE2">Nombre ejecutivo</label>
                                </td>
                                @*<td style="text-align: center; border: 1px solid; border-color: darkgray; background-color: lightgray; width: 8%;">
                                    <label class="labelBE2">Estado Solicitud</label>
                                </td>*@
                                <td style="text-align: center; border: 1px solid; border-color: darkgray; background-color: lightgray; width: 10%;">
                                    <label class="labelBE2">Fecha Ingreso</label>
                                </td>
                                <td style="text-align: center; border: 1px solid; border-color: darkgray; background-color: lightgray; width: 34%;">
                                    <label class="labelBE2">Descripcion Cambio</label>
                                </td>
                                <td style="text-align: center; border: 1px solid; border-color: darkgray; background-color: lightgray; width: 15%;">
                                    <label class="labelBE2">Tipo Solicitud</label>
                                </td>
                                <td style="text-align: center; border: 1px solid; border-color: darkgray; background-color: lightgray; width: 10%;"></td>
                            </tr>
                        </table>
                    </td>
            </table>


        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

    </center>
    <script>
        resulTbBandeja();
    </script>
</body>
</html>